* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #363636;
}

/* Menu */

header {
    height: 60px;
    border-bottom: 1px solid var(--cor-borda-inferior);
    box-shadow: 0 1px 1em gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 35px;
    width: 95px;
    margin-left: 15px;
}

#logo img {
    height: 100%;
    width: 100%;
}

#menu {
    width: 400px;
}

#menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#menu a {
    color: black;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

#menu img {
    width: 13px;
    height: 13px;
    margin-right: 12px;
}

/* Principal */

main {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#principal {
    height: 530px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Principal - Mensagem */

#mensagem {
    height: 530px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagem {
    margin-top: 10px;
}

#texto {
    font-size: 1.2em;
}

#botao-criar-conta {
    margin-top: 50px;
    width: 320px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #ededed;
    border-bottom: var(--cor-borda-inferior);
    box-shadow: 0 1px 0.2em gray;
}

#botao-criar-conta button {
    width: 280px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: #268744;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

/* Principal - Login */

#login {
    height: 530px;
    width: 400px;
    padding: 20px;
    border: 1px solid var(--cor-borda-inferior);
    box-shadow: 0 2px 0.1em var(--cor-borda-inferior);
}

#titulo-login {
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 40px;
}

.opcoes-login {
    font-size: 0.8em;
    margin-top: 20px;
}

#texto-login {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 360px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid gray
}

input::placeholder {
    font-style: italic;
    font-size: 1.1em;
}

.botoes-login {
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 30px 0;
}

.botoes-login button {
    width: 170px;
    padding: 13px 0;
    border-radius: 50px;
    border: none;
}

#botao-login-criar-conta {
    border: 1px solid var(--cor-icones-login);
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    color: var(--cor-icones-login);
    box-shadow: 0 1px 0.3em gray;
    display: none;
}

#botao-login-avancar {
    background-color: var(--cor-icones-login);
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 1px 0.3em gray;
    font-size: 1.1em;
}

#linha {
    border-bottom: 1px solid gray;
}